<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afiliados votantes</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>NIT</td>
                <td>Nombre</td>
                <td>Matrícula</td>
                <td>lugar</td>
                <td>Biometría</td>
                <td>Foto</td>
            </tr>
        </thead>
        <tbody id="cuerpo">
            
        </tbody>
    </table>
    <script>
        const API1_URL = "https://mongo-votaciones.herokuapp.com/api/votaciones";
        const TABLA = document.getElementById("cuerpo");
        fetch(`${API1_URL}`)
                        .then((res)=>res.json())
                        .then((votantes)=>{
                            votantes.votaciones.forEach(voto=>{
                               TABLA.innerHTML+=`<tr><td>${voto.nit}</td><td>${voto.nombre}</td><td>${voto.matricula}</td><td>${voto.lugar}</td><td>${voto.biometria}</td><td>${voto.foto}</td></tr>`
                            })
                        })
    </script>
</body>
</html>